@model MillionaireGame.Models.QuestionModel
    
<div class="main-text">
    <div style="color: white">
        Question #@Model.QuestionNumber
        @Model.QuestionText
    </div>
    @for (int i = 0; i < 4; i++)
    {
        <button id="@i">@Model.Options[i]</button>
    }
</div>

<script src="~/Scripts/jquery-1.9.1.js"></script>

<script type="text/javascript">
    

    $("#next_question").hide();
    $("#t" + @Model.QuestionNumber).css({ "background-color": "white", "color": "black" });
    var index = @Model.QuestionNumber - 1;
    $("#t" + index).css({ "background-color": "transparent", "color": "white" });
    //var nextQuestionUrl = '@Url.Action("NextQuestion", "Game")';
    var correctText = '@Model.AnswerText';
    var correctButtonId = '@Model.AnswerId';
    //var hightlightedTableIndex = @Model.QuestionNumber;
   

</script>
<script src="~/Scripts/scriptForGame.js"></script>