@model MillionaireGame.Models.QuestionModel

<div class="question">
    <div style="padding-bottom: 20px;">
        Question #@Model.QuestionNumber
        @Model.QuestionText
    </div>
    <div>
        <button id="0">A:<span id="answer0">@Model.Options[0]</span></button>
        <button id="1">B:<span id="answer1">@Model.Options[1]</span></button>
        
    </div>
   
    <div>
        <button id="2">C:<span id="answer2">@Model.Options[2]</span></button>
        <button id="3">D:<span id="answer3">@Model.Options[3]</span></button>
    </div>
   
</div>

<script type="text/javascript">
    $("#next_question").hide();
    $("#t" + @Model.QuestionNumber).css({ "background-color": "white", "color": "black" });
    var index = @Model.QuestionNumber - 1;
    $("#t" + index).css({ "background-color": "transparent", "color": "white" });
    var correctText = '@Model.AnswerText';
    var correctButtonId = '@Model.AnswerId';
    var questionId = @Model.QuestionId;
    var questionNumber = @Model.QuestionNumber;
</script>
<script src="~/Scripts/scriptForGame.js"></script>