@using MillionaireGame.Helpers
@*@model MillionaireGame.Models.QuestionModel*@
@{
    Layout = null;
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "question",
        OnSuccess = "enableEvents"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartGame</title>
    <link href="~/Styles/gameStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div>
        <table>
            <tr id="t15">
                <td>15</td>
                <td>1000000$</td>
            </tr>
            <tr id="t14">
                <td>14</td>
                <td>500000$</td>
            </tr>
            <tr id="t13">
                <td>13</td>
                <td>250000$</td>
            </tr>
            <tr id="t12">
                <td>12</td>
                <td>125000$</td>
            </tr>
            <tr id="t11">
                <td>11</td>
                <td>64000$</td>
            </tr>
            <tr id="t10">
                <td>10</td>
                <td>32000$</td>
            </tr>
            <tr id="t9">
                <td>9</td>
                <td>16000$</td>
            </tr>
            <tr id="t8">
                <td>8</td>
                <td>8000$</td>
            </tr>
            <tr id="t7">
                <td>7</td>
                <td>4000$</td>
            </tr>
            <tr id="t6">
                <td>6</td>
                <td>2000$</td>
            </tr>
            <tr id="t5">
                <td>5</td>
                <td>1000$</td>
            </tr>
            <tr id="t4">
                <td>4</td>
                <td>500$</td>
            </tr>
            <tr id="t3">
                <td>3</td>
                <td>300$</td>
            </tr>
            <tr id="t2">
                <td>2</td>
                <td>200$</td>
            </tr>
            <tr id="t1">
                <td>1</td>
                <td>100$</td>
            </tr>
        </table>

    </div>

    <div id="question">
        @Html.Action("NextQuestion", new { questionNumber = 0 })
    </div>

    <div>
        @using (Ajax.BeginForm("NextQuestion", ajaxOptions))
        {
            <button type="submit" style="display:none;" id="next_question">Next question</button>
        }
    </div>

    <div>



        <img id="hint50" alt="50/50" src="~/Content/Images/HintsImages/hint50.png" />

        <img id="hint50crossed" src="~/Content/Images/HintsImages/hint50Crossed.png" />

        <img id="friendCall" src="~/Content/Images/HintsImages/hintPhone.png" />

        <img id="friendCallCrossed" src="~/Content/Images/HintsImages/hintPhoneCrossed.png" />

        <img id="audienceAsk" src="~/Content/Images/HintsImages/hintAsk.png"  />

        <img id="audienceAskCrossed"  src="~/Content/Images/HintsImages/hintAskCrossed.png"/>

    </div>
    
    
    <div id='audienceModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='audienceModalContent' style="color: black !important"></div>
            </div>
        </div>
    </div>   
    

@Html.ActionLink("Send", "SendEmail", "Game")
    @Html.ActionLink("Ask", "AskAudience", new { questionId = 1 })

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            enableEvents();

        });
        var redirectToFiftyUrl = '@Url.Action("FiftyFifty", "Game")';
        var redirectToAskAudience = '@Url.Action("AskAudience", "Game")';
        
    </script>

    <script src="~/Scripts/hintsScript.js"></script>
</body>
</html>
