@model MillionaireGame.Models.QuestionModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartGame</title>
    <link href="~/Styles/gameStyles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="main-text">
        <div style="color:white">
            @Model.QuestionText
        </div>
        @for (int i = 0; i < 4; i++)
        {
            <button id="@i">@Model.Options[i]</button>
        }
    </div>
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <script type="text/javascript">
        var nextQuestionUrl = '@Url.Action("NextQuestion", "Game")';
        var correctText = '@Model.AnswerText';
        var correctButtonId = '@Model.AnswerId';

       



    </script>
    <script src="~/Scripts/gameScript.js"></script>
</body>
</html>
